backend/n8n/calendar_sync.json
{
  "id": "HVOER4dgQQ07J0kx",
  "name": "Calendar Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calendar-sync",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-1",
      "name": "Calendar Sync Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "calendar-sync-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/api/v1/calendar-events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Automation-Token",
              "value": "campusflow_secret"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "provider_event_id",
              "value": "={{$json.body.provider_event_id || $json.body.id || ''}}"
            },
            {
              "name": "title",
              "value": "={{$json.body.title || $json.body.summary || 'Calendar Event'}}"
            },
            {
              "name": "description",
              "value": "={{$json.body.description || ''}}"
            },
            {
              "name": "start_time",
              "value": "={{$json.body.start_time || $json.body.start || new Date().toISOString()}}"
            },
            {
              "name": "end_time",
              "value": "={{$json.body.end_time || $json.body.end || new Date(Date.now() + 3600000).toISOString()}}"
            },
            {
              "name": "event_type",
              "value": "={{$json.body.event_type || 'synced'}}"
            }
          ]
        }
      },
      "id": "node-2",
      "name": "Add to Local Calendar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/api/v1/automation-logs/webhooks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Automation-Token",
              "value": "campusflow_secret"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_name",
              "value": "Calendar Sync"
            },
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "Calendar event synced successfully."
            }
          ]
        }
      },
      "id": "node-3",
      "name": "Log Execution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        300
      ]
    }
  ],
  "connections": {
    "Calendar Sync Webhook": {
      "main": [
        [
          {
            "node": "Add to Local Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Local Calendar": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}